@model Package
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Services)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportOption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportOption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>

        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.LastModifiedAt)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.LastModifiedAt)
            </dd>
        }
    </dl>
</div>

     @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
    <div>
        <h4>Coupons</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Discount Amount</th>
                    <th>Expiration Date</th>
                    <!-- Add more columns if needed -->
                </tr>
            </thead>
            <tbody>
                @if (Model.Coupons != null && Model.Coupons.Any())
                {
                    foreach (var coupon in Model.Coupons)
                    {
                        <tr>
                            <td>@coupon.Code</td>
                            <td>@coupon.DiscountAmount</td>
                            <td>@coupon.ExpirationDate</td>
                            <!-- Add more columns if needed -->
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No coupons available for this package.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
<div>
    <h4>Reviews</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Text</th>
                <th>Rating</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Reviews != null && Model.Reviews.Any())
            {
                foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td>@review.CreatedBy?.UserName</td>
                        <td>@review.Text</td>
                        <td>@review.Rating</td>
                        <td>@review.Date</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No Reviews available for this package.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
     @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>} |
    <a asp-action="Index">Back to List</a>
</div>
