@model Package

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Services)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Services)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport_Option)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport_Option)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport_Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport_Company)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
