@model IEnumerable<Package>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Packages";
}

<div class="container py-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @if (User.IsInRole("Admin"))
        {
            <div class="col">
                <div class="card h-100 shadow add-new-package-card">
                    <a asp-action="Create" asp-controller="Package" class="d-flex justify-content-center align-items-center h-100 text-decoration-none">
                        <div class="text-center">
                            <i class="fas fa-plus fa-2x"></i>
                            <p class="mt-2">Add New Package</p>
                        </div>
                    </a>
                </div>
            </div>
        }
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100 shadow">
                    <a href="@Url.Action("Details", new { id = item.Id })" class="position-relative">
                        <img src="@item.Destination?.ImageUrl" class="card-img-top" alt="@item.Destination?.Name">
                        <div class="category-box bg-success text-white position-absolute">
                            @item.Category
                        </div>
                    </a>
                    <div class="card-body">
                        <h2 class="card-title"><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h2>
                        <table class="table table-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th scope="row"><i class="fas fa-calendar-alt me-2"></i>Start Date</th>
                                    <td>@item.StartDate.ToString("MMM dd, yyyy")</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-money-bill-alt me-2"></i>Budget</th>
                                    <td>@item.Budget.ToString("F3") DT</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-clock me-2"></i>Duration</th>
                                    <td>@item.Duration</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fas fa-location-arrow me-2"></i>Destination</th>
                                    <td>@item.Destination?.Name</td>
                                </tr>

                            </tbody>
                        </table>
                        <a asp-action="Create" asp-route-packageId="@item.Id" asp-controller="Booking" class="btn btn-primary">Book Now</a>
                        @if (User.IsInRole("Admin")){
                           <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                           <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> 
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

