@model IEnumerable<Review>

@{
    ViewData["Title"] = "Index";
}
<style>
    .table {
        min-height:100vh;
    }
</style>
<h1>Review</h1>

<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
 
                    < a asp - action = "Details" asp - route - id = "@item.Id" > Details </ a > 
                    < a asp - action = "Delete" asp - route - id = "@item.Id" > Delete </ a >
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!User.Identity.IsAuthenticated)
{
    <script>window.location.href = "/Account/Login";</script>
}
