@model WishForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WishForm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedBy?.UserName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
