@model Booking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AssociatedPackageId" class="control-label"></label>
                <select asp-for="AssociatedPackageId" class="form-control">
                    <option value="">Select a package</option>
                    @if (ViewBag.Packages != null)
                    {
                        foreach (var package in ViewBag.Packages)
                        {
                            <option value="@package.Id">@package.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="AssociatedPackageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control">
                    @foreach (var state in Enum.GetValues(typeof(BookingState)))
                    {
                        <option value="@state">@state</option>
                    }
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfTravellers" class="control-label"></label>
                <input asp-for="NumberOfTravellers" class="form-control" />
                <span asp-validation-for="NumberOfTravellers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option value="">Select Payment Method</option>
                    @foreach (var paymentMethod in Enum.GetValues(typeof(PaymentMethod)))
                    {
                        <option value="@paymentMethod">@paymentMethod</option>
                    }
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
